<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senac.go">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gasolina"
        android:label="Completa Aí"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.teste"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".views.Relatorios" />
        <activity android:name=".views.CadastroAbastecimento" />
        <activity android:name=".views.ListaAbastecimento" />
        <activity android:name=".views.CadastroVeiculo" />
        <activity android:name=".views.ListaVeiculos" />
        <activity android:name=".views.Menu" />
        <activity android:name=".views.Loguin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>